# Environment Variables Template
SARVAM_API_KEY=sk_jq5oug85_rBfo9uCY6lQKXLRcRdNJDCuX
KUNDALI_PRICE=129
JANMARASHI_PRICE=20
KUNDALI_PDF_API=https://api.bharatcalendars.in:8443/api/kundali/generate-pdf
JANMARASHI_API=https://api.bharatcalendars.in:8443/api/janamrashi/moon-rashi
ADMIN_TOKEN=test_admin_token_123

# Product SKUs / IDs (Google Play & Apple App Store)
KUNDALI_SKU=buy.short.kundli
JANMARASHI_SKU=getrashi
